<a href="https://colab.research.google.com/github/Haripriya1328/MachineLearningAlgorithms/blob/main/Logistic_Reg_for_diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Importing the Dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data Collection and Data Processing

In [ ]:
#loading the dataset to a pandas Dataframe
df=pd.read_csv("/content/diabetes.csv")

In [ ]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
df.describe()  #describe --> statistical measures of the data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
df.shape

(768, 9)

In [ ]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [ ]:
# separating data and Labels
X=df.drop(columns='Outcome',axis=1)
Y=df['Outcome']
print(X)
print(Y)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=42)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

In [ ]:
print(Y.shape,Y_train.shape,Y_test.shape)

(768,) (614,) (154,)

In [ ]:
print(X_train)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
353            1       90             62             12       43  27.2
711            5      126             78             27       22  29.6
373            2      105             58             40       94  34.9
46             1      146             56              0        0  29.7
682            0       95             64             39      105  44.6
..           ...      ...            ...            ...      ...   ...
451            2      134             70              0        0  28.9
113            4       76             62              0        0  34.0
556            1       97             70             40        0  38.1
667           10      111             70             27        0  27.5
107            4      144             58             28      140  29.5

     DiabetesPedigreeFunction  Age
353                     0.580   24
711                     0.439   40
373                     0.225   25
46                      0.564   29
682                     0.366   22
..                        ...  ...
451                     0.542   23
113                     0.391   25
556                     0.218   30
667                     0.141   40
107                     0.287   37

[614 rows x 8 columns]

In [ ]:
print(Y_train)

353    0
711    0
373    0
46     0
682    0
      ..
451    1
113    0
556    0
667    1
107    0
Name: Outcome, Length: 614, dtype: int64

In [ ]:
print(X_test)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
44             7      159             64              0        0  27.4
672           10       68            106             23       49  35.5
700            2      122             76             27      200  35.9
630            7      114             64              0        0  27.4
81             2       74              0              0        0   0.0
..           ...      ...            ...            ...      ...   ...
32             3       88             58             11       54  24.8
637            2       94             76             18       66  31.6
593            2       82             52             22      115  28.5
425            4      184             78             39      277  37.0
273            1       71             78             50       45  33.2

     DiabetesPedigreeFunction  Age
44                      0.294   40
672                     0.285   47
700                     0.483   26
630                     0.732   34
81                      0.102   22
..                        ...  ...
32                      0.267   22
637                     0.649   23
593                     1.699   25
425                     0.264   31
273                     0.422   21

[154 rows x 8 columns]

In [ ]:
print(Y_test)

44     0
672    0
700    0
630    1
81     0
      ..
32     0
637    0
593    0
425    1
273    0
Name: Outcome, Length: 154, dtype: int64

Model Training --> Logistic Regression

In [ ]:
model=LogisticRegression()

In [ ]:
#training the Logistic Regression model with training data
model.fit(X_train.values,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

Model Evaluation

In [ ]:
#accuracy on training data
X_train_prediction=model.predict(X_train)
training_train_accuracy=accuracy_score(X_train_prediction,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [ ]:
print("ACCURACY IS : ", training_train_accuracy)

ACCURACY IS :  0.7931596091205212

In [ ]:
#accuracy on test data
X_test_prediction=model.predict(X_test)
training_test_accuracy=accuracy_score(X_test_prediction,Y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [ ]:
print("ACCURACY IS: ",training_test_accuracy)

ACCURACY IS:  0.7142857142857143

Making a Predictive System

In [ ]:
input_data=(2,197,70,45,543,30.5,0.158,53)
#changing input data into array
input_data_as_numpy_array=np.asarray(input_data)
#reshape to one instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)
prediction=model.predict(input_data_reshaped)
print(prediction)
if(prediction[0]==1):
  print("The person has diabetes ")
else:
  print("The person doesn't have diabetes")

[1]
The person has diabetes